{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
 <h1>Book Review Form</h1>
 <form id="review-form" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Book:</label>
    <select id="book-select" required>
        <option value="">Loading books...</option>
    </select>
    <br>
    <label>Book Photo:</label>
    <input type="file" id="book_photo" name="book_photo" accept="image/*" required>
    <br>
    <label>Book URL:</label>
    <input type="url" id="book_url" name="book_url" placeholder="https://example.com" required>
    <br>
    <label>Rating:</label>
    <select id="rating" required>
        <option value="">Select Rating...</option>
        <option value="1">⭐</option>
        <option value="2">⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="5">⭐⭐⭐⭐⭐</option>
    </select>
    <br>
    <label>Review:</label>
    <textarea id="book_review" name="book_review" rows="4" cols="50" placeholder="Write your opinion here" required></textarea>
    <br>    
  <div class="button-group">
    <a href="{% url 'home' %}" class="back-btn">← Back to Home</a>
    <button type="submit">Save</button>
  </div>
  </form>

  <p id="error" style="color: red;"></p>

  <script src="{% static 'book_review_js/auth.js' %}"></script>
  <script src="{% static 'book_review_js/review_form.js' %}"></script>

</body>
</html>
