{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
<h1>Book Review Form</h1>
 <form id="review-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <p id="error" style="color: red;">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    {{ field.label }}: {{ error }}<br>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </p>

    <label for="{{ form.book.id_for_label }}">Book:</label>
    {{ form.book }}
    <br>
    <label for="{{ form.book_photo.id_for_label }}">Book Photo:</label>
    {{ form.book_photo }}
    <br>
    <label for="{{ form.book_url.id_for_label }}">Book URL:</label>
    {{ form.book_url }}
    <br>
    <label for="{{ form.rating.id_for_label }}">Rating:</label>
    {{ form.rating }}
    <br>
    <label for="{{ form.book_review.id_for_label }}">Review:</label>
    {{ form.book_review }}
    <br>    
  <div class="button-group">
    <a href="{% url 'home' %}" class="back-btn">← Back to Home</a>
    <button type="submit">Save</button>
  </div>
  </form>

  {% comment %} 
  <script src="{% static 'book_review_js/auth.js' %}"></script>
  <script src="{% static 'book_review_js/review_form.js' %}"></script>
  {% endcomment %}

</body>
</html>
