{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="{% static 'book.css' %}">
</head>
<body>

<div class="container">
    <h2>Add Book Information</h2>

    <p id="error" style="color: red;"></p>

    <form id="add-book-form">
        {% csrf_token %}

        <label>Title</label>
        <input type="text" id="title" name="title" required>

        <label>Category</label>
        <input type="text" id="category" name="category" placeholder="e.g. Fiction, Non-Fiction" required>

        <label>Author</label>
        <input type="text" id="author" name="author" required>

        <label>Description</label>
        <textarea id="description" name="description" rows="4"></textarea>

        <div class="button-group">
            <button type="submit">Save Book</button>
            <a href="{% url 'home' %}" class="back-btn">← Back to Home</a>
        </div>
    </form>
</div>

<script src="{% static 'book_review_js/auth.js' %}"></script>
<script src="{% static 'book_review_js/add_book.js' %}"></script>

</body>
</html>
