{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
 <h1>Book_Review Form</h1>
 <form method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
    <label>book_name:</label>
    {{form.book}}
    <br>
    <label>book_photo:</label>
    <input type="file" name="book_photo" accept="image/*" required>
    <br>
    <label>book_url</label>
    <input type="url" name="book_url"  placeholder="https://example.com" required>
    <br>
    <label>Rating</label>
      {{form.rating}}
    <br>
    <label>book_review:</label>
    <textarea name="book_review" rows="4" cols="50" placeholder="Write your opinion here" required></textarea>
    <br>    
  {% comment %} <button type="submit">Save</button> {% endcomment %}
  <div class="button-group">
    <a href="{% url 'home' %}" class="back-btn">← Back to Home</a>
    <button type="submit">Save</button>
  </div>
  </form>


</body>
</html>
