{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Reviews</title>

    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>

    <!-- Header -->
    <div class="main-header">

        <div class="left-section">
            <img src="{% static 'images/book_logo.jpg' %}" alt="Logo" class="logo">
            <h1>Book Reviews</h1>
        </div>

        <div class="right-section">
            <a href="{% url 'form_view' %}">
                <button>+ Add Review</button>
            </a>

            <a href="{% url 'profile' %}">
                <button>Profile</button>
            </a>

            <button id="logout-btn">Logout</button>
        </div>

    </div>

    <!-- Reviews will be loaded here -->
    <div id="reviews-container">

    </div>

    <script src="{% static 'book_review_js/auth.js' %}"></script>
    <script src="{% static 'book_review_js/homepage.js' %}"></script>
    <script src="{% static 'book_review_js/logout.js' %}"></script>
</body>
</html>