{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>

<div class="login-container">
    <h2>Login</h2>

    <form id="loginform" method="post">
        {% csrf_token %}
        
        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}

        {{ form.username_or_email }}
        {{ form.password }}

        <button type="submit">Login</button>
    </form>

    <p id="error" class="error"></p>

    <p>
        Don't have an account?
        <a href="{% url 'register' %}">Register</a>
    </p>

</div>

{% comment %} <script src="{% static 'book_review_js/login.js' %}"></script> {% endcomment %}

</body>
</html>