{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <div class="register-container">
        <form id='registerform'>
            <h2>Register User</h2>
            {% csrf_token %}
            <input type="text" id="username" placeholder="Username" required><br>
            <input type="email" id="email" placeholder="Email" required><br>
            <input type="password" id="password1" placeholder="Password" required><br>
            <input type="password" id="password2" placeholder="Confirm Password" required><br>
            <div class="button-group">
                <button type="submit">Register</button>
                <a href="{% url 'login' %}" class="login-button">Login</a>
            </div>
        </form>

        <p id='error' style='color: red'></p>
    </div>

    <script src = "{% static 'book_review_js/register.js' %}"></script>
    
</body>
</html>